@{
    
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="panel-heading">
    Thông báo truy cập
</div>

<div class="panel-body">
    <div class="alert-danger">
        Bạn không có quyền truy cập trang này.
    </div>

    <div >
        <a class="btn btn-danger" href="~/User/Home">Quay lại</a>
    </div>

   
</div>
