
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="panel-heading">
    0.4. Quản trị Role
</div>

<div class="panel-body">

    <a href="@Url.Action("UpdateRole","QLRole")">Làm mới bảng PRole - Xóa Role cũ và cập nhật lại</a>


    <div class="form-horizontal">

        @using (Html.BeginForm("UploadExcel", "DuToan", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {

            <div class="form-group">
                <div class="col-md-2">
                    <input type="submit" value="Upload" />
                </div>
            </div>
        }
    </div>
</div>