
@{
    ViewBag.Title = "PermissionDenied";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="container py-5">
    <div class="row">
        <div class="col-md-2 text-center">
            <p><i class="fa fa-exclamation-triangle fa-5x"></i><br />Status Code: 403</p>
        </div>
        <div class="col-md-10">
            <h3>Bạn không được truy cập vào trang/ chức năng này.</h3>
            <a class="btn btn-danger" href="javascript:history.back()">Quay lại</a>
        </div>
    </div>
</div>

