
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<h2>Home</h2>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>Danh sách Role của bạn</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item</td>
            </tr>
        }

    </tbody>
</table>