
@{
    ViewBag.Title = "Dự toán";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<h2>Kết xuất DT</h2>
<div>

    <a href="@Url.Action("DuToan",new { @id =1  })" class="btn btn-primary">Export DT</a>

    <a href="@Url.Action("DuToan_FileMau",new { @id =1})" class="btn btn-primary">Download file mẫu</a>

</div>


